.btn {
  font-size: 18px;
  outline: none;
  padding: 15px 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background: $primary-color;
  min-width: 125px;
  width: 100%;
  display: inline-block;
  margin: 30px 0;
  cursor: pointer;
}
.btn-choice {
  cursor: pointer;
  background: #D0D0D0;
  border: 1px solid #707070;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  width: 50%;
  outline: none;

  &--active {
    background: #707070;
  }
}