.inpt-group {
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  .required-asterisk {
    margin-left: 10px;
  }

  &__logo-placeholder {
    display: block;
    margin-top: 30px;

    img {
      max-width: 300px;
    }
  }
}

.inpt-container {

  .required-asterisk {
    position: absolute;
    top: -10px;
    right: 0;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}