body {
  font-family: 'Arial', sans-serif;
  font-size: rem-calc(16px);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2B2B2B;
}

.hyphens {
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 16px;
  @include desktop {
    font-size: 26px;
  }
}
h2 {
  font-size: 24px;
  margin-bottom: 30px;
}