.pos-rel {
  position: relative;
}

.fullwidth {
  width: 100%;
}

.dis-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-center {
  align-items: center;
}

.overflow-h {
  overflow: hidden;
}

.hidden {
  display: none;
}

.red-text {
  color: $primary-color;
}