<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
<script>
    const config = {
        apiKey: "AIzaSyDRhb2dGMUYe9chR0JbfatXeS6Qmm1VoEI",
        authDomain: "hackyeah-18294.firebaseapp.com",
        databaseURL: "https://hackyeah-18294.firebaseio.com",
        projectId: "hackyeah-18294",
        storageBucket: "hackyeah-18294.appspot.com",
        messagingSenderId: "262151164713"
    };
    firebase.initializeApp(config);
    let database = firebase.database();
    database.ref('/mapObjects').on('value', function(snapshot) {
        console.log(snapshot.val());
    });
</script>