<template>
  <div>
    <h2 class="text-center margin-tp-5">Linia autobusowa numer: {{ $route.params.slug }}</h2>
    <table-data v-if="tableData.length > 0" :headers="headers" :table-data="tableData"></table-data>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import moment from 'moment';
export default Vue.extend({
  data(): any {
    return {
      headers: ['Przystanek', 'Przyjazd', 'Odjazd'],
      minutesPerKm: 5,
      timetable: {
        '7:00': {
          busStops: {
            'AB:1-2/34': 3,
            'GH:2-3/34': 2,
            'EF:2-3/34': 5,
            'IJ:2-3/34': 2,
          },
        },
        '7:20': {
          busStops: {
            'AB:1-2/34': 3,
            'GH:2-3/34': 2,
            'EF:2-3/34': 5,
            'IJ:2-3/34': 2,
            'KL:2-3/34': 3
          },
        },
      },
      tableData: []
    }
  },
  methods: {
    countBusStops () {
      for (var key in this.timetable) {
        let finalArray = [];
        if (this.timetable.hasOwnProperty(key)) {
          let keysLen = Object.keys(this.timetable[key].busStops);
          for (let i = 0; i < keysLen.length; i++) {
            let current = keysLen[i];
            let previous = keysLen[i - 1];
            let j = 0;

            if (i === 0) {
              const hourObject = {
                endHour: key,
                name: 'KL:1-2/34',
              }

              finalArray.push(hourObject);
              j++;
            } else {
              let length = this.timetable[key].busStops[previous];
              let countedMinutes = length * this.minutesPerKm;

              const startTime = moment(finalArray[j].endHour, 'HH:mm:ss').add(countedMinutes, 'minutes').format('HH:mm');
              const endTime = moment(startTime, 'HH:mm:ss').add(2, 'minutes').format('HH:mm');

              const hourObject: any = {
                startHour: startTime,
                endHour: endTime,
                name: current,
              }

              finalArray.push(hourObject);
              j++;
            }
          }
        }

        this.tableData.push(finalArray);
      }
    },
  },
  mounted() {
    this.countBusStops();
  }
});
</script>
