<template>
  <section class="index">
    <span class="index__information">
      <strong class="index__informations--red">Uwaga:</strong> na ze względu na remont rurociągu droga 1-2 jest zamknięta na odcinku AB/CD nastąpiła awaria rurociągu!
    </span>
    <div class="index__container">
      <div class="form-container">
        <form v-on:submit.prevent="calculateRoad" v-if="!editionForm" class="form">
          <h2>Podaj dane pojazdu:</h2>
          <v-input
            :placeholder="'0,00'"
            :label="'Dlugość'"
            :type="'number'"
            :unit="'m'"
            :iconSrc="'/img/icons/ruler.svg'"
            :required="false"
            id="length"
            v-model="carLength"
          />
          <v-input
            :placeholder="'0,00'"
            :label="'Szerokość'"
            :type="'number'"
            :unit="'m'"
            :iconSrc="'/img/icons/width.svg'"
            :required="false"
            id="width"
            v-model="carWidth"
          />
          <v-input
            :placeholder="'0,00'"
            :label="'Wysokość'"
            :type="'number'"
            :unit="'m'"
            :iconSrc="'/img/icons/height.svg'"
            :required="false"
            id="height"
            v-model="carHeight"
          />
          <v-input
            :placeholder="'0,00'"
            :label="'Masa'"
            :type="'number'"
            :unit="'kg'"
            :iconSrc="'/img/icons/weight.svg'"
            :required="false"
            id="weight"
            v-model="carWeight"
          />
          <v-input
            :placeholder="'WY 0320D'"
            :label="'Numer rejestracyjny'"
            :type="'text'"
            :iconSrc="'/img/icons/registration.svg'"
            :required="false"
            id="plate"
            v-model="plate"
          />
          <div class="select-container" style="padding-top: 15px;">
            <label for="lang">Język wskazówek</label>
            <img class="select-container__icon" src="/img/icons/language.svg" alt="">
            <select class="select" name="lang" id="lang">
              <option value="PL">Polski</option>
              <option value="UK">Angielski</option>
              <option value="DE">Niemieczki</option>
              <option value="UA">Ukraiński</option>
            </select>
          </div>

           <div class="select-container select-container--gate">
            <label for="gate">Brama wjazdowa</label>
            <img class="select-container__icon" src="/img/icons/door.svg" alt="">
            <select class="select" name="gate" id="gate" v-model="gate">
              <option value="1">Brama 1</option>
              <option value="2">Brama 2</option>
              <option value="3">Brama 3</option>
              <option value="4">Brama 4</option>
            </select>
          </div>
          <button class="btn" v-if="this.ready" v-on:click="print">
            Drukuj
          </button>
        </form>
        <form v-on:submit.prevent="saveEdit" v-if="editionForm" class="form pos-rel">
          <div v-if="!roadEditing || editSaved" class="form--non-active">
            <h2 class="red-text">{{editMessage}}</h2>
          </div>
          <h2>Edytuj mape:</h2>
          <v-input
            :placeholder="'0,00'"
            :label="'Dopuszczalna dlugość'"
            :type="'number'"
            :unit="'m'"
            :iconSrc="'/img/icons/ruler.svg'"
            :required="false"
            v-model="roadLength"
          />
          <v-input
            :placeholder="'0,00'"
            :label="'Dopuszczalna szerokość'"
            :type="'number'"
            :unit="'m'"
            :iconSrc="'/img/icons/width.svg'"
            :required="false"
            v-model="roadWidth"
          />
          <v-input
            :placeholder="'0,00'"
            :label="'Dopuszczalna wysokość'"
            :type="'number'"
            :unit="'m'"
            :iconSrc="'/img/icons/height.svg'"
            :required="false"
            v-model="roadHeight"
          />
          <v-input
            :placeholder="'0,00'"
            :label="'Dopuszczalna masa'"
            :type="'number'"
            :unit="'kg'"
            :iconSrc="'/img/icons/weight.svg'"
            :required="false"
            v-model="roadWeight"
          />
          <button class="btn">
            {{message}}
          </button>
        </form>
        <div v-if="ready" class="index__destination">
          <h2>Szczegóły przejazdu:</h2>
          <button @click="changeRoad(1)" :class="['btn-choice', {'btn-choice--active': activeOption === 1}]">droga do celu</button>
          <button @click="changeRoad(2)" :class="['btn-choice', {'btn-choice--active': activeOption === 2}]">droga do wyjazdu</button>
          <div class="index__road">
            <img class="index__road-icon" src="/img/icons/straight.svg" alt="">
            <div class="index__road-desc">
              <span>Jedź </span><span class="index__road-desc--red">prosto</span>
              <span class="index__road-desc--distance">i pokonaj dystans 100 m</span>
            </div>
          </div>
          <div class="index__road">
            <img class="index__road-icon" src="/img/icons/straight.svg" alt="">
            <div class="index__road-desc">
              <span>Jedź </span><span class="index__road-desc--red">prosto</span>
              <span class="index__road-desc--distance">i pokonaj dystans 100 m</span>
            </div>
          </div>
          <div class="index__road">
            <img class="index__road-icon" src="/img/icons/target.svg" alt="">
            <div class="index__road-desc">
              <span>Jesteś </span><span class="index__road-desc--red">na miejscu</span>
              <span class="index__road-desc--distance">wyładuj/załaduj ładunek </span>
            </div>
          </div>
        </div>
      </div>
      <div class="map">
        <main-plan 
        :maxCarWidth="carWidth" 
        :maxCarHeight="carHeight" 
        :maxCarLength="carLength" 
        :maxCarWeight="carWeight" 
        :maxRoadWidth="roadWidth"
        :maxRoadHeight="roadHeight"
        :maxRoadLength="roadLength"
        :maxRoadWeight="roadWeight"
        :gate="gate"
        @route-ready="routeReady"
        @input="changeForm($event)"
        @enable-editing="enableEditing($event)"
        />
      </div>
    </div>
  </section>
</template>

<script lang="js">
import Vue from 'vue';
export default Vue.extend({
  data() {
    return {
      activeOption: 1,
      road: false,
      editionForm: false,
      roadEditing: false,
      editSaved: false,
      message: 'Kliknij aby edytować drogę',
      editMessage: 'Kliknij fragment mapy aby zmienić jego parametry',
      carWeight: '0,00',
      carHeight: '0,00',
      carLength: '0,00',
      carWidth: '0,00',
      plate: '',
      roadWeight: '0,00',
      roadHeight: '0,00',
      roadLength: '0,00',
      roadWidth: '0,00',
      gate: 1,
      ready: false
    };
  },
  methods: {
    changeRoad(option) {
      this.activeOption = option;
    },
    calculateRoad() {
      this.road  = true;
    },
    changeForm(val) {
      this.editionForm = !val;
      this.road = false
      if (this.message !== 'Kliknij aby edytować drogę') {
        this.message = 'Kliknij aby edytować drogę'
      }
    },
    enableEditing(obj) {
      this.roadWeight = obj.MaxWeight;
      this.roadWidth = obj.MaxWidth;
      this.roadHeight = obj.MaxHeight;
      this.roadEditing = true
      this.editSaved = false
      this.message = `Zapisz drogę: ${obj.LocationName}`
    },
    routeReady(){
      this.ready = true;
    },
    saveEdit() {
      this.editSaved = true
      this.editMessage = 'Zmiany zostały zapisane! Kliknij punkt na mapie, zmienić kolejny element.'
    },
    print() {
      window.print();
    }
  },
});
</script>
<style lang="scss">
.index {
  margin: 20px;
  @include desktop {
    margin: 40px;
  }

  &__container {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__informations {

    &--red {
      color: $primary-color;
    }
  }

  &__road-icon {
    height: 50px;
  }

  &__road-desc {
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;

    &--red {
      color: $primary-color;
    }

    &--distance {
      display: block;
      font-weight: 300;
      font-size: 14px;
    }
  }

  &__road {
    margin-top: 15px;
    display: flex;
    align-items: center;

    &:first-child {
      margin-top: 30px;
    }
  }
}

.select-container {
  position: relative;
  padding-bottom: 10px;
  padding-left: 40px;
  border-bottom: 1px solid #707070;

  &__text {
    position: absolute;
  }

  &__icon {
    position: absolute;
    width: 25px;
    height: 20px;
    left: 0;
  }

  &--gate {
    // padding-top: 30px;
    select {
      width: 100px;
    }
  }
}

.select {
  width: 100px;
  float: right;
}

.form {

  &--non-active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    text-align: center;
  }
}
.form-container {
  width: 100%;
  @include desktop {
    width: 25%;
    margin-right: 5%;
  }
  .form {
@media print {
    display: none;
  }
  }
  
}
.map {
  width: 70%;
  overflow: hidden;
}
</style>


