<template>
  <header class="header">
    <img class="header__logo" src="/img/orlen-logo.svg" alt="Logo orlen">
    <h1 class="header__default">Panel wyszukiwania drogi dla kierowcy</h1>
    <h1 class="header__directions">Trasa dojazdu</h1>
  </header>
</template>
<style lang="scss">
.header {
  background: $primary-color;
  -webkit-print-color-adjust: exact !important;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__directions {
    display: none;

    @media print {
      display: block !important;
    }
  }

  @include desktop {
    padding: 20px 40px;
  }

  &__logo {
    width: 70px;
    margin-right: 30px;
    @include desktop {
      width: 100px;
      margin-right: 0;
    }
  }

  .header__default {
    @media print {
      display: none;
    }
  }
}
@media print {
  .map {
      width: 100% !important;
    .inpt-container {
      display: none !important;
    }
  }
  line[stroke="black"] {
    stroke-width: 1;
    stroke: #ccc;
  }
  line[stroke="orange"] {
    stroke: #000;
  }
}
</style>
