<template>
    <div>
        <svg @click="enableEdit" ref="map" height="620" width="620"></svg>
        <v-input
          :label="`Zmień na tryb edycji ${editionLabel}`"
          :type="'checkbox'"
          :required="false"
          @input-change="handleInput($event)"
      />
    </div>
</template>

<style lang="scss">
    svg {
        max-width: 100%;
        height: auto;
        border: 0;
        display: inline-block;
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
    }

    #x6y11,
    #x6y10,
    #x8y9 {
        stroke: red;
    }
</style>


<script lang="js">
    import Vue from 'vue';
    import easystarjs from 'easystarjs';
    export default Vue.extend({
        data() {
            return {
                map:  [
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0],
                    [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0],
                    [0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
                    [0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0],
                    [0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                ],
                height: 50,
                width: 50,
                editionLabel: 'mapy'
            };
        },
        methods: {
            line(x, y, x1, x2, y1, y2) {
                const line = document.createElementNS('http://www.w3.org/2000/svg', 'line');
                line.setAttribute('id', 'x' + x + 'y' + y);
                line.setAttribute('class', 'road');

            //     return t;
            // },

            image(x, y, src, width = '32px', height = '32px') {

                const i = document.createElementNS('http://www.w3.org/2000/svg','image');
                i.setAttributeNS('http://www.w3.org/1999/xlink', 'href', src.toString());
                i.setAttribute('width', width);
                i.setAttribute('height', height);
                i.setAttribute('x', x.toString());
                i.setAttribute('y', y.toString());
                i.setAttribute('visibility','visible');

                return line;
            },
            handleInput(changeEdit) {
              if (this.editionLabel === 'mapy') {
                this.editionLabel = 'trasy'
              } else {
                this.editionLabel = 'mapy'
              }
             this.$emit('change-edit', changeEdit)
             this.$emit('close-road', false)
            },
            enableEdit() {
              this.$emit('enable-edit')
            }
        },
        mounted() {
            this.$nextTick(function() {
                const svg = this.$refs.map;
                this.svgWidth = (this.width * this.map[0].length) - this.width + 3 + (this.margin * 2);
                this.svgHeight = (this.height * this.map.length) - this.height + 3 + (this.margin * 3);

                svg.appendChild(this.rect(this.margin, this.margin, this.width * this.map[0].length - this.width, this.height * this.map.length - this.height));

                let index = 0;
                let index2 = 1;
                this.map.forEach((m, i) => {
                    if(i % 2 === 0) {
                        svg.appendChild(this.text(20, (this.margin + (this.height * i)) + 10, index2++));
                        svg.appendChild(this.text(this.svgWidth - 40, (this.margin + (this.height * i)) + 10, index2++));

                    }
                    m.forEach((value, i2) => {
                        if(i === 0 && i2 % 2 === 0) {
                            svg.appendChild(this.text((this.margin + (this.width * i2)) - 5, 35, String.fromCharCode(65 + index++)));
                            svg.appendChild(this.text((this.margin + (this.width * i2)) - 5, this.svgHeight - 75, String.fromCharCode(65 + index++)));
                        }
                        if (i % 2 === 0) {
                            if (i2 % 2 === 1) {
                                if (value === 0) {
                                    svg.appendChild(
                                        this.line(
                                            i2 - 1, 
                                            i, 
                                            this.margin + ((this.width * i2) - this.width), 
                                            this.margin + ((this.width * i2) + (this.width + 2)), 
                                            this.margin + ((i * this.height) + 1), 
                                            this.margin + ((i * this.height) + 1)
                                        )
                                    );
                                }
                            }
                        } else {
                            if (value === 0) {
                                svg.appendChild(
                                    this.line(
                                        i2, 
                                        i, 
                                        this.margin + ((this.width * i2) + 1), 
                                        this.margin + ((this.width * i2) + 1), 
                                        this.margin + ((i - 1) * this.height), 
                                        this.margin + ((i + 1) * this.height))
                                    );
                            }
                        }
                    });
                });
                svg.appendChild(this.image(235, 180, 'img/icons/target.svg'));
                svg.appendChild(this.image(400, this.map.length * this.height + 40, 'img/icons/gate.svg', '100px', '50px'));
                svg.appendChild(this.image(800, this.map.length * this.height + 40, 'img/icons/gate.svg', '100px', '50px'));
                svg.appendChild(this.cross(this.height, this.height));
                svg.appendChild(this.cross(this.height, this.height + this.width));
            });
        }
        // mounted() {
        //     this.$nextTick(function() {
        //         const svg = this.$refs.map;
        //         this.map.forEach((m, y) => {
        //             m.forEach((value, x) => {
        //                 if (y % 2 === 0) {
        //                     if (x % 2 === 1 && value === 0) {
        //                         svg.appendChild(this.drawLine(x - 1, y, (this.width * x) - this.width, (this.width * x) + (this.width + 2), (y * this.height) + 1, (y * this.height) + 1));
        //                     }
        //                 } else {
        //                     if (value === 0) {
        //                         svg.appendChild(this.drawLine(x, y, (this.width * x) + 1, (this.width * x) + 1, (y - 1) * this.height, (y + 1) * this.height));
        //                     }
        //                 }
        //             });
        //         });
        //   }, 0);
        // }
    });
</script>
<style lang="scss" scoped>
.road {
  
  &:hover {
    stroke: red;
  }
}
</style>
