<template>
    <div>
        <div class="alert" v-if="alert">Niestety, ale nie można dojechać w wybrane miejsce.</div>
        <v-input
            :label="'Zmiana edycji mapy'"
            :type="'checkbox'"
            :required="false"
            :value="false"
            @input="$emit('input', $event)"
          />
        <svg class="mileage-map" ref="map" viewBox="0 0 1000 880">
            <g ref="legend">
                <text x="-9"  y="-17" font-size="30px" font-weight="bold" fill="#333">1</text>
                <text x="192" y="-17" font-size="30px" font-weight="bold" fill="#333">3</text>
                <text x="392" y="-17" font-size="30px" font-weight="bold" fill="#333">5</text>
                <text x="592" y="-17" font-size="30px" font-weight="bold" fill="#333">7</text>
                <text x="792" y="-17" font-size="30px" font-weight="bold" fill="#333">9</text>
                <text x="982" y="-17" font-size="30px" font-weight="bold" fill="#333">11</text>

                <text x="-9"  y="845" font-size="30px" font-weight="bold" fill="#333">2</text>
                <text x="192" y="845" font-size="30px" font-weight="bold" fill="#333">4</text>
                <text x="392" y="845" font-size="30px" font-weight="bold" fill="#333">6</text>
                <text x="592" y="845" font-size="30px" font-weight="bold" fill="#333">8</text>
                <text x="782" y="845" font-size="30px" font-weight="bold" fill="#333">10</text>
                <text x="982" y="845" font-size="30px" font-weight="bold" fill="#333">12</text>

                <text x="-39" y="10" font-size="30px" font-weight="bold" fill="#333">A</text>
                <text x="-38" y="210" font-size="30px" font-weight="bold" fill="#333">C</text>
                <text x="-38" y="410" font-size="30px" font-weight="bold" fill="#333">E</text>
                <text x="-38" y="610" font-size="30px" font-weight="bold" fill="#333">G</text>
                <text x="-38" y="810" font-size="30px" font-weight="bold" fill="#333">I</text>
                <!-- <text x="-38" y="1010" font-size="30px" font-weight="bold" fill="#333">K</text> -->

                <text x="1020" y="10" font-size="30px" font-weight="bold" fill="#333">B</text>
                <text x="1020" y="210" font-size="30px" font-weight="bold" fill="#333">D</text>
                <text x="1020" y="410" font-size="30px" font-weight="bold" fill="#333">F</text>
                <text x="1020" y="610" font-size="30px" font-weight="bold" fill="#333">H</text>
                <text x="1020" y="810" font-size="30px" font-weight="bold" fill="#333">J</text>
                <!-- <text x="1020" y="1010" font-size="30px" font-weight="bold" fill="#333">L</text> -->


                <image xlink:href="img/icons/gate.svg" height="170" width="170" x="135" y="800" />
                <image xlink:href="img/icons/gate.svg" height="170" width="170" x="540" y="800" />
                <image xlink:href="img/icons/gate.svg" height="170" width="170" x="-100" y="450" style="transform: rotate(90deg); transform-origin: left"></image>
                <image xlink:href="img/icons/gate.svg" height="170" width="170" x="-100" y="-700" style="transform: rotate(90deg);transform-origin: left;"></image>            
            </g>
            <g ref="roads">
                <!-- horizontal roads -->
                <g class="road" 
                    v-for="road in xRoads" :key="road.LocationName">
                    <line 
                        :x1="(road.x * 100) - 90" 
                        :x2="(road.x * 100) + 90" 
                        :y1="road.y * 100" 
                        :y2="road.y * 100" 
                        :stroke-dasharray="road.Closed > 0 ? '10,10' : ''"
                        @mouseup="roadClick($event, road)"
                        :stroke="road.Active === 1 ? 'orange' : 'black'"
                        stroke-width="7" />
                </g>
                <!-- horizontal roads -->
                <g class="road" 
                    v-for="road in yRoads" :key="road.LocationName">
                    <line 
                        :x1="road.x * 100" 
                        :x2="road.x * 100" 
                        :y1="(road.y * 100) - 90" 
                        :y2="(road.y * 100) + 90" 
                        @mouseup="roadClick($event, road)"
                        :stroke="road.Active === 1 ? 'orange' : 'black'"
                        stroke-width="7" />
                </g>
                <!-- crossings -->
                <g class="crossing" 
                    v-for="crossing in crossings" :key="crossing.LocationName">
                    <circle 
                        r="6"
                        :cx="crossing.x * 100" 
                        :cy="crossing.y * 100" 
                        @mouseup="crossingClick($event, crossing)"
                        :fill="crossing.Active === 1 ? 'orange' : 'black'"
                        />
                </g>
            </g>
        </svg>
        <button class="btn btn--dark" v-on:click="clearMap" v-if="this.ready">Nowe szukanie</button>
    </div>
</template>
<script lang="js">
import Vue from 'vue';
import EasyStar from 'easystarjs';

import { db } from '../config/fb';
export default Vue.extend({
  props: ['maxCarWidth', 'maxCarHeight', 'maxCarWeight', 'maxCarLength', 'maxRoadWidth', 'maxRoadHeight', 'maxRoadWeight', 'maxRoadLength', 'gate'],
  watch: {
    maxCarWidth: function() {
      this.carWidth = this.maxCarWidth;
      this.validateRoads();
    },
    maxCarHeight: function() {
      this.carHeight = this.maxCarHeight;
      this.validateRoads();
    },
    maxCarWeight: function() {
      this.carWeight = this.maxCarWeight;
      this.validateRoads();
    },
    maxCarLength: function() {
      this.carLength = this.maxCarLength;
      this.validateRoads();
    },
    maxRoadLength: function() {
      this.roadLength = this.maxRoadLength;
      this.validateRoads();
    },
    maxRoadWidth: function() {
      this.roadWidth = this.maxRoadWidth;
      this.validateRoads();
    },
    maxRoadHeight: function() {
      this.roadHeight = this.maxRoadHeight;
      this.validateRoads();
    },
    maxRoadWeight: function() {
      this.roadWeight = this.maxRoadWeight;
      this.validateRoads();
    },
  },
  data() {
    return {
        carWidth: this.maxCarWidth,
        carHeight: this.maxCarHeight,
        carWeight: this.maxCarWeight,
        carLength: this.maxCarLength,
        roadWidth: this.maxRoadWidth,
        roadHeight: this.maxRoadHeight,
        roadWeight: this.maxRoadWeight,
        roadLength: this.maxRoadLength,
        distance: null,
        xRoads: [],
        yRoads: [],
        crossings: [],
        map: [],
        alert: this.alert,
        ready: false,
        currentLocation: {x: 0, y: 0}
    }
  },
 
  filters: {
    numberWithCommas(val) {
      return ( val && val.toString ? val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : val );
    }
  },
  mounted() {
    db.ref('/mapObjects').on('value', (snapshot) => {
        let i = 0;
        snapshot.val().forEach( (mapObject) => {
            mapObject.id=i;
            i++;
            if(mapObject.Type === "HorizontalRoad") {
                this.xRoads.push(mapObject)
            } else if(mapObject.Type === "VerticalRoad") {
                this.yRoads.push(mapObject)
            } else if(mapObject.Type === "Crossing") {
                this.crossings.push(mapObject)
            }
        });
    });
  },

  methods: {    
    roadClick(event, mapObject) {
        event.target.setAttribute('stroke','red');
        this.navigateTo(mapObject.x, mapObject.y);
        this.$emit('enable-editing', mapObject)
    },
    crossingClick(event, mapObject) {
        event.target.setAttribute('fill','red');
        this.navigateTo(mapObject.x, mapObject.y);
        this.$emit('enable-editing', mapObject)
    },
    testDimensions(edgeValue, testValue) {
        return parseInt(edgeValue, 10) < testValue;
    },
    validateRoads() {
        this.xRoads.forEach((road) => {
            if(road.Closed === 2) return;
            if(this.testDimensions(road.MaxHeight, this.carHeight) || 
                this.testDimensions(road.MaxWeight, this.carWeight) || 
                this.testDimensions(road.MaxWidth, this.carWidth)) {
                road.Closed = 1;
            } else {
                road.Closed = 0;
            }
        });
    },

    navigateTo(x,y) {
        const grid = this.buildGrid();

        var easystar = new EasyStar.js();
        easystar.setGrid(grid);
        easystar.setAcceptableTiles([0]);

        easystar.findPath([0,0,2,6,10][this.gate], [0,4,8,8,4][this.gate], x, y, this.drawSteps);

        easystar.calculate();
    },
    
    buildGrid() {
        var grid = [];

        for (var i=0;i<11;i++) {
            grid[i] = [];
            for (var j=0;j<11;j++) {
                grid[i][j] = undefined;
            }
        }


        this.xRoads.forEach((r) => {
            if(r.Closed > 0) {
                grid[r.y][r.x] = 1;
            } else {
                grid[r.y][r.x] = 0;
            }
        })
        this.yRoads.forEach((r) => {
            if(r.Closed > 0) {
                grid[r.y][r.x] = 1;
            } else {
                grid[r.y][r.x] = 0;
            }
        })
        this.crossings.forEach((r) => {
            if(r.Closed > 0) {
                grid[r.y][r.x] = 1;
            } else {
                grid[r.y][r.x] = 0;
            }
        })
        return grid;
    },

    drawSteps(steps){
        if(!steps) {
            this.alert = true;
            this.ready = false;
            return;
        }
        steps.forEach((step) => {
            const x = this.xRoads.find((i) => {return i.x === step.x && i.y === step.y});
            if(x) {
                x.Active = 1
                return;
            }
            const y = this.yRoads.find((i) => {return i.x === step.x && i.y === step.y});
            if(y) {
                y.Active = 1
                return;
            }
            const c = this.crossings.find((i) => {return i.x === step.x && i.y === step.y});
            if(c) {
                c.Active = 1
                return;
            }
        })

        this.ready = true;
        this.currentLocation.x = steps[steps.length-1].x;
        this.currentLocation.y = steps[steps.length-1].y;
        this.$emit('route-ready', currentLocation);
    },

    clearMap() {
        this.xRoads.forEach((x) => {
            x.Active = 0;
        })

        this.yRoads.forEach((x) => {
            x.Active = 0;
        })

        this.crossings.forEach((x) => {
            x.Active = 0;
        })

        this.ready = false;
    }

  }
});
</script>
<style lang="scss" scoped>
.mileage-map {
    display: block;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 80vh;
    margin: 100px;
    overflow: visible;
}
.alert {
    background: #d81e04;
    color: white;
    padding: 15px;
}
.btn--dark {
    background-color: #333;
}
.road {

  &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20px;
      background: #ff0000;
      width: 20px;
  }

  line {
    position: relative;
    cursor: pointer;

    &:hover {
        stroke: red;

        &:after {
            width: 20px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20px;
        background: red;
        width: 20px;
    }
  }
}
</style>
