<template>
  <div>
    <table class="table-d" v-for="(data, j) in tableData" :key="j">
      <thead class="table-d__thead">
        <tr>
          <th v-for="(header, index) in headers" :key="'header' + index">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody class="table-d__tbody">
        <tr v-for="row in data" :key="row.name">
          <td>
            {{ row.name }}
          </td>
          <td>
            {{ row.startHour }}
          </td>
          <td>
            {{ row.endHour }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    headers: {
      type: Array,
      default() {
        return [];
      },
      required: true,
    },
    tableData: {
      type: Array,
      default() {
        return [];
      },
      required: true,
    },
  },
  data(): any {
    return {
      deleteWarning: false
    }
  },
  methods: {
    returnObjectValue(data: any, index: number) {
      return data[Object.keys(data)[index]];
    },
  },
  mounted() {
    console.log(this.tableData)
  },
});
</script>

<style lang="scss" scoped>
.table-d {
  max-width: 90%;
  margin: 50px auto;
  border-spacing: 0px;
  border-collapse: collapse;
  color: #000;
  width: 100%;
  overflow-x: visible;
  text-align: left;

  @include desktop {
    max-width: 60%;
  }

  @include desktop {
    overflow-x: hidden;
  }

  &__thead {
    background-color: $primary-color;
    color: #fff;

    th {
      padding: 10px;
      font-size: 20px;
      font-weight: 300;
    }
  }

  &__tbody {
    tr {
      border-bottom: 1px solid #000;
    }

    td {
      padding: 10px;
    }
  }
}
.delete-warning {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  padding: 10px 30px;
  color: #fff;

  &__buttons {
    display: flex;
    justify-content: center;
  }
}
</style>
