<template>
  <div class="inpt-container">
    <label class="label" :for="id">{{label}}</label>
    <img v-if="iconSrc" class="icon" :src="iconSrc" alt="">
    <div class="inpt-inner">
      <input 
        :placeholder="placeholder" 
        :class="['input', {'input--no-padding': unit === undefined}, {'input--switch': type === 'checkbox'}, {'input--text': type === 'text' || type === 'number'}]" 
        :type="type"
        :required="required"
        :value="value"
        :id="id"
        v-model="content"
        @input="$emit('input', content)"
      >
    </div>
    <span v-if="error !== ''">{{error}}</span>
    <span class="unit" v-if="unit !== ''">{{unit}}</span>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: ['placeholder', 'type', 'iconSrc', 'label', 'unit', 'required', 'id', 'value'],
  data() {
    return {
      content: this.value,
      error: '',
    };
  },
  watch: {
    value: function() {
      this.content = this.value
    },
  }
});
</script>
<style lang="scss" scoped>
.inpt-container {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.inpt-inner {
  display: inline-block;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font-size: 18px;
  appearance: none;
  cursor: pointer;
  position: relative;
  padding-right: 20px;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
  }

    &:checked {
      &:after {
        content: '';
        border-radius: 50%;
        position: absolute;
        display: inline-block;
      }
    }

  &--no-padding {
    padding-right: 0;
  }

  &--text {
    margin-bottom: 40px;
    text-align: right;
    padding-bottom: 10px;
    vertical-align: middle;
    background: none;
    border-bottom: 1px solid #707070;
    font-size: 18px;
    width: 100%;
    -moz-appearance:textfield;
  }

  &--switch {
      width: 30px;
      height: 19px;
      border: 1px solid $primary-color;
      border-radius: 10px;

      &:after {
        width: 14px;
        height: 14px;
        top: 1px;
        background-color: $primary-color;
        left: 1px;
        transition: 0.3s;
      }

      &:checked {
        background-color: $primary-color;
        border-color: $primary-color;

        &:after {
          left: 13px;
          top: 1px;
          height: 14px;
          width: 14px;
          border: 1px solid #fff;
          background-color: $primary-color;
        }
      }
    }

  &::placeholder {
    color: #000;
  }
}

.icon {
  position: absolute;
  width: 25px;
  height: 20px;
}

.label {
  position: absolute;
  left: 40px;
}

.unit {
  position: absolute;
  right: 0;
}
</style>
